<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Crear Lugar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{./static/create.css}">
</head>

<body class="d-flex justify-content-center align-items-center page-body-container">
<div class="card p-4 shadow form-card-container">
    <h1 class="h4 text-center mb-4 form-title">
        Crear un nuevo lugar
    </h1>
    <form th:action="${'/venue/create/save'}" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
            <label for="name" class="form-label fw-semibold form-field-label">
                Nombre del Lugar
            </label>
            <input type="text" id="name" name="name" class="form-control form-input-field"
                   placeholder="Escribe el nombre" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label fw-semibold form-field-label">
                Dirección
            </label>
            <input type="text" id="address" name="address" class="form-control form-input-field"
                   placeholder="Ej: Calle 123" required>
        </div>
        <div class="mb-4">
            <label for="capacity" class="form-label fw-semibold form-field-label">
                Capacidad
            </label>
            <input type="number" id="capacity" name="capacity" class="form-control form-input-field"
                   placeholder="Ej: 100" required>
        </div>
        <button type="submit" class="btn btn-success w-100 submit-form-button">
            Crear Lugar
        </button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>